.advantages {
  margin-top: 80px;
}

.advantages__wrapper {
  h2 {
    font-size: 48px;
    font-family: "Raleway-eb", sans-serif;
    font-weight: 800;

    @media (max-width: 625px) {
      font-size: 32px;
    }
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px 20px;
    margin-top: 40px;

    li {
      width: 540px;
      display: flex;
      align-items: center;
      gap: 20px;

      div {
        &:first-child {
          padding: 25px;
          border-radius: 20px;
          box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        }

        h3 {
          font-size: 20px;
          font-family: "Raleway-bd", sans-serif;
          font-weight: 700;

          @media (max-width: 625px) {
            font-size: 16px;
          }
        }

        p {
          margin-top: 10px;
          line-height: 120%;

          @media (max-width: 625px) {
            font-size: 14px;
          }
        }
      }

      @media (max-width: 625px) {
        width: 100%;
      }
    }
  }
}

.advantages__wrapper > p {
  width: 630px;
  margin-top: 10px;
  line-height: 120%;

  @media (max-width: 690px) {
    width: 100%;
    font-size: 14px;
  }
}
